body{
    padding:0px;
    margin:0px;
}


.nav{
    display:block;
    color:white;
    background-color:#91343c;
    height:auto;
    width:100%;
    padding:20px;
    margin-top:0px;
    font-size:24px;
}

.nav li{
    display:inline-block;
    list-style-type:none;
    padding:10px;
    margin-right:40px;
}
ul.nav li a:link,
ul.nav li a:visited{ 
    color:white;
    text-decoration:none;
    
}
ul.nav  li:hover,
ul.nav  li:active{
    background-color: #b6414b;
    color: gray;
}
.right{
    float:right;
}
footer {
    background-color:#91343c;
    text-align: center;
    font-size:  'Cinzel', serif;
}

footer:before {
   content: ' \2661';
}

footer:after {
   content: ' \2661';
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.header-content{
    margin-top:0px;
    padding-right:40px;
    padding-left:40px;
    padding-bottom:40px;
    background-image:url("african-afro.jpg");

}

.circle-img{
    border-radius:100%;
    opacity: .7;
}

p {
 padding: 10px;
}
body{
    align-content: center;
}
section ul li  {
    margin: 3%;
     
}