body{
    padding:0px;
    margin:0px;
}


.nav{
    display:block;
    color:white;
    background-color:#91343c;
    height:auto;
    width:100%;
    padding:20px;
    margin-top:0px;
    font-size:24px;
}
a:hover{
    color:white;
    text-decoration:none;
}
a:link{
    color:white;
    text-decoration:none;
}
a:visited{
    color:white;
    text-decoration:none;
}
.nav li{
    display:inline-block;
    list-style-type:none;
    padding:10px;
    margin-right:40px;
}

.right{
    float:right;
}
.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.header-content{
    margin-top:0px;
    padding-right:40px;
    padding-left:40px;
    padding-bottom:40px;
    background-image:url("african-afro.jpg");

}

.circle-img{
    border-radius:43%;
    opacity: .7;
}
 h1 {
     padding-left:10px;
     font-size: 1.5em;
     font-family: 'Cinzel', serif;
 }
 section h1 {
     font-size: 1.5em;
     font-family: 'Cinzel', serif;
     padding-left:3%;
 }
 section p{
     padding-left: 7%;
     font-size: 1em;
     padding-right:13%;
     font-family: 'Cinzel', serif;
 }
 section ul li {
    padding-left: 7%;
    font-size: 1em;
    padding-right:13%;
    list-style-position: inside;
    font-family:  'Cinzel', serif;
 }

 footer {
     background-color: rgba(207, 61, 61, .8);
     text-align: center;
     font-size:  'Cinzel', serif;
 }

 footer:before {
    content: ' \2661';
}

footer:after {
    content: ' \2661';
}
