ul li {
  list-style-type: none;
}
ul li ul {
  list-style-type: disc;
} 
ul li ul li {
 list-style-type: dics;
 list-style: upper-roman;
}
h1 {
  padding-left:10px;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
}

section h1 {
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  padding-left:3%;
  color: #91343c;
}
section h2 {
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  padding-left:3%;
}
section> h1 {
  font-size: 2em;
}
section p{
  padding-left: 7%;
  font-size: 1em;
  padding-right:13%;
  font-family: 'Cinzel', serif;
}
section ul li {
 padding-left: 7%;
 font-size: 1em;
 padding-right:13%;
 list-style-position: inside;
 font-family:  'Cinzel', serif;
}

section h2 a:link,
section h2 a:visited {
  text-decoration: none;
}
section h2 a:hover,
section h2 a:active {
  color: blue;
} 
h1#head {
  text-align: center;
  font-size: 3em;
}